<aside id="mobile-nav">
  <nav>
    <ul>
      <li class="nav-item">
        <a href="/destinations">Browse Destinations</a>
      </li>
      <li class="nav-item">
        <a href="/recommend">Add new destination</a>
      </li>
      <li class="nav-item"><a href="/about">About</a></li>
    </ul>
  </nav>
</aside>
