<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/about.css" />
    <title>About TravelBlog</title>
  </head>
  <body>
    <%-include('includes/header')%> <%-include('includes/aside')%>
    <main>
      <h1>Something Went Wrong!</h1>
      <p>
        Unfortunately something went wrong on the server - we're doing our best
        to fix it as soon as possible
      </p>
    </main>
    <script src="/script.js"></script>
  </body>
</html>
