<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/about.css" />
    <title>About TravelBlog</title>
  </head>
  <body>
    <%-include('includes/header')%> <%-include('includes/aside')%>

    <main id="about">
      <h1>About TravelGoals</h1>
      <h3>
        Welcome to TravelGoals, where travel enthusiasts like you come together
        to share their journeys and discoveries.
      </h3>
      <p>
        We believe that the best way to choose your next adventure is by
        learning from those who have already explored the world.
      </p>
      <p>
        At TravelGoals, we've created a community-driven platform that empowers
        travelers to leave honest and insightful reviews of the places they've
        visited. Our mission is simple: to help you find your perfect travel
        destination based on the authentic experiences and recommendations of
        fellow globetrotters.
      </p>
      <h3>Why Choose TravelGoals?</h3>
      <ul>
        <li>
          <p>
            <span>Real Traveler Insights:</span>
            Our platform is a treasure trove of firsthand accounts, filled with
            tips, stories, and recommendations from real travelers. Say goodbye
            to generic travel guides and hello to personalized advice.
          </p>
        </li>
        <li>
          <p>
            <span>Discover Hidden Gems: </span>
            Unearth hidden gems and off-the-beaten-path destinations that may
            not be on your radar. Explore the world beyond tourist hotspots and
            create unforgettable memories.
          </p>
        </li>
        <li>
          <p>
            <span> Plan with Confidence:</span>
            Make informed decisions about your next trip. Whether you're seeking
            a relaxing beach getaway, a cultural immersion, or an
            adrenaline-packed adventure, our reviews will guide you to the
            perfect match.
          </p>
        </li>
      </ul>
      <p id="catcher">
        Ready to embark on your next adventure? Dive into the world of
        <a href="/destinations.html">TravelGoals</a> and start exploring. Let
        the collective wisdom of fellow travelers be your compass, and let your
        journey begin!
      </p>
    </main>
    <script src="script.js"></script>
  </body>
</html>
