<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/destinations.css" />
    <title>Destinations</title>
  </head>
  <body>
    <%-include('includes/header')%> <%-include('includes/aside')%>
    <main>
      <% if (numOfDestinations===0){%>
      <p>
        Unfortunately, we have no destinations yet - maybe start recommending
        some?
      </p>
      <% } else { %>
      <h1>Best destinations to visit:</h1>
      <p>There are <%=numOfDestinations%> destinations</p>
      <ul id="destinations-list">
        <% for(const destination of destinations){%>
        <%-include('includes/destinations/destination-item',{destination:destination})%>
        <%}%>
      </ul>
      <%}%>
    </main>
    <script src="script.js"></script>
  </body>
</html>
