<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Travel Blog</title>
  </head>
  <body>
    <header id="main-header">
      <div id="logo"><a href="/">Travel Goals</a></div>
      <nav>
        <ul>
          <li class="nav-item">
            <a href="/destinations">Browse Destinations</a>
          </li>
          <li class="nav-item">
            <a href="/recommend">Add new destination</a>
          </li>
          <li class="nav-item"><a href="/about">About</a></li>
        </ul>
      </nav>
      <button id="burger-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>
    <aside id="mobile-nav">
      <nav>
        <ul>
          <li class="nav-item">
            <a href="/destinations">Browse Destinations</a>
          </li>
          <li class="nav-item">
            <a href="/recommend">Add new destination</a>
          </li>
          <li class="nav-item"><a href="/about">About</a></li>
        </ul>
      </nav>
    </aside>
    <main>
      <h1>See places from the right perspective!</h1>
      <p>
        Share your favorite travel destinations or find recommendations of other
        users!
      </p>
      <ul id="actions">
        <li>
          <a href="/destinations.html">Browse Destinations</a>
        </li>
        <li>
          <a href="/recommend.html">Share Your Favorite Travel Destination</a>
        </li>
      </ul>
    </main>
    <script src="script.js"></script>
  </body>
</html>
