<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <title>Recommend a destination</title>
  </head>
  <body>
    <header id="main-header">
      <div id="logo"><a href="/">Travel Goals</a></div>
      <nav>
        <ul>
          <li class="nav-item">
            <a href="/destinations">Browse Destinations</a>
          </li>
          <li class="nav-item">
            <a href="/recommend">Add new destination</a>
          </li>
          <li class="nav-item"><a href="/about">About</a></li>
        </ul>
      </nav>
      <button id="burger-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>
    <aside id="mobile-nav">
      <nav>
        <ul>
          <li class="nav-item">
            <a href="/destinations">Browse Destinations</a>
          </li>
          <li class="nav-item">
            <a href="/recommend">Add new destination</a>
          </li>
          <li class="nav-item"><a href="/about">About</a></li>
        </ul>
      </nav>
    </aside>
    <main>
      <h1>PLease recommend a place to visit</h1>
    </main>
    <script src="script.js"></script>
  </body>
</html>
