<li class="destination-item">
  <article>
    <h2><%=destination.name%></h2>
    <div class="destination-data">
      <p><%=destination.coutry%></p>
    </div>
    <p><%=destination.sights%></p>
    <p><%=destination.description%></p>
  </article>
</li>
